* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

/* 중앙에 오게하는 css공식(?) */
.containner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    perspective: 1000px;
    /* 어떤요소에 원근감을 주기위해 사용하는 css속성 */
    /* 사용할곳의 최상위 태그에 사용한다 */
    /* 값이 크면클수록 멀리 본다. */
}

.flip-btn {
    width: 200px;
    height: 100px;
    color: white;
    text-align: center;
    line-height: 100px;
    /* 요소의 height값과 line-height 값이 같으면 수직 중앙 정렬 된다. */
    /* 단 텍스트가 한줄일시만 가능 */
    transform-style: preserve-3d;
    /* flip-btn 하위에 있는 태그들은 3d공간에 배치된다고 보면된다. */
    /* x,y 축에서 x,y,z축으로 변경된다. */
    transition: 1s;
    cursor: pointer;
}

.flip-btn:hover {
    transform: rotateX(-90deg);
    
}

.front {
    background-color: goldenrod;
    height: 100px;
    transform: translateZ(50px);
}

.back {
    background-color: darkgoldenrod;
    height: 100px;
    transform: rotateX(90deg) translateZ(150px);
    /* translateZ()함수는 3D 요소를 Z축 기준으로 이동하게 하는 함수 */
}